img {
    height: 400px;
    width: auto;

    border: 8px solid;
    border-color: gold;
    padding: 6px;
}

body {
    background-color: black;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    color: gold;
    text-align: center;
}

h3 {
    color: gold;
}

ul {
    list-style: none;
    text-align: left;
}

ol {
    text-align: left;
}

.back-button {
    text-align: left;
}

.menu {
    height: auto;
    width: 500px;
    background-color:black ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border-color: gold;
    border: 5px solid;
}

a {
    color: gold;
    text-decoration: none;
}

.item img{
    height: 55px;
    width: auto;
    border: 5px solid;
    display: inline;
    margin-bottom: -30px;
    margin-top: -25px;
    margin-left: 60px;
    margin-right: auto;
}

.item {
    background-color: gold;
    height: 65px;
    width: auto;
    margin: 20px;
    padding: 40px;
    font-size: 25px;
    font-weight: bold;
}

a .item {
    color: black;
}
